#map2 {
    width: 75%;
    height: 500px;
    box-sizing: border-box;
}

.CreateContainer {
    width: 100%;
    display: inline-block;
    &-Wrap {
        margin: 0 auto;
        width: 50%;
        &-Subject {
            margin-top: 20px;
            padding: 0 5px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;
            font-size: 35px;
        }
        &-Form {
            margin: 0 auto;
            width: 100%;
            div {
                p {
                    margin: 0;
                    width: 100px;
                }
                input {
                    width: 100%;
                    height: 30px;
                }
            }
            &-Title, &-Content {
                margin: 10px 0;
                padding: 0 5px;
                align-content: stretch;
                line-height: 36px;
                display: flex;
                input {
                    padding: 0 5px;
                }
            }
            &-Map {
                display: flex;
                justify-content: space-between;
                &-Points {
                    margin: 0 auto;
                    width: 25%;
                    height: 500px;
                    display: block;
                    text-align: center;
                    overflow-y: auto;
                    select {
                        width: 95%;
                    }
                    &-Input {
                        margin: 5px auto;
                        width: 95%;
                        display: flex;
                        box-sizing: border-box;
                        button {
                            margin-left: 5px;
                        }
                    }
                    &-Add {
                        button {
                            border: none;
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            outline: none;
                            img {
                                width: 100%;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    &-Make {
                        button {
                            background: none;
                            border: 1px solid #000;
                            width: 130px;
                            height: 40px;
                            outline: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }                        
                    }
                }
            }
            &-Submit {
                margin: 20px auto 0;
                width: 20%;
                button {
                    border: 1px solid #000;
                    width: 100%;
                    height: 30px;
                    background-color: #fff;
                    &:hover {
                        color: #fff;
                        cursor: pointer;
                        background-color: #000;
                    }
                }
            }
        }
    }
}