.Menu {
    border-right: 2px solid #fff;
    width: 65px;
    height: 100%;
    background: #bce0fa;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
    ul {
        padding: 0;
        list-style: none;
        li {
            margin: 0 auto;
            padding: 5px 5px;
            width: 80%;
            height: 40px;
            box-sizing: border-box;
            transition: 0.2s;
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            button img {
                width: 100%;
                height: 100%;
            }
        }
    }
    button, a {
        border: none;
        width: 100%;
        height: 34px;
        background-color: transparent;
        box-sizing: border-box;
        outline: none;
        &:hover {
            cursor: pointer;
        }
        img {
            margin: 3px 0;
            width: 80%;
            height: 90%;
        }
    }
    &-Top {
        &-Title {
            border-bottom: 2px solid #fff;
            width: 100%;
            height: 65px;
            text-align: center;
            font-size: 4.5vh;
            line-height: 65px;
            transition: .2s;
            a {
                text-decoration: none;
                color: #479ddb;
            }
            &:hover {
                font-size: 5vh;
            }
        }
    }
}